:root {
    font-family: 'Montserrat';
    font-size: 20px/1.2;
}

body,
body * {
    margin:             unset;
    box-sizing:         unset;
    padding:            unset;
    font-size:          unset;
    color:              unset;
    text-decoration:    unset;
}

figure * {
    display: block;
}