/*==============VARIABLES SECTION/*==============*/
:root {
    --text-primary: hsl(0,0%,25%);          /*Primary color for text*/
    --grayscale: #282828;                   /*Grayscale color*/
    --jquery-background: #144e9a;           /*JQuery logo background color*/
    --jquery-accent: #7acef4;               /*JQuery logo accent color*/
    --white: #ffffff;                       /*White color*/
    --body-background: #cfd0d1;             /*Body background color*/
    --link-color: #6666FF;                  /*Hyperlink color*/
    --red-text: red;                        /*Ted text color*/
    --shadow: 0px 0px 5px 1px var(--grayscale);
}

/*==============SPAN SECTION==============*/
span.bold {
    font-weight: 900;
}

span.red {
    color: var(--red-text);
}

span.underline {
    text-decoration: underline;
}
/*==============BODY SECTION/*==============*/

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    color: var(--text-primary);
    font-family: 'Montserrat';
    background-color: var(--body-background);
}

/*==============HEADER SECTION/*==============*/
header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 0px;
    border-bottom: 2px solid var(--grayscale);
    background-color: var(--jquery-background);
}

header h1 {
    grid-column: 2 / span 2;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    color: var(--white);
    padding: 5px 0;
}

header h1:hover {
    color: var(--jquery-accent);
}

/*==============FOOTER SECTION/*==============*/
footer {
    background-color: var(--jquery-background);
    border-top: 2px solid var(--grayscale);
    color: var(--white);
    text-align: center;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
}

footer p {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}
/*==============MAIN SECTION/*==============*/
section.main1 {
    display: grid;
    grid-template-areas: 
        '. CB .';            /*'CB' for 'Content Box'*/
    margin: 30px 0;
}

section.main1 div.content-box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 0px;
    grid-area: CB;
    display: grid;
    grid-template-areas: 
        'T T T T'           /*'T' for 'Title'*/
        'S S S S'           /*'S for 'Subtitile*/
        'C C C C'           /*'C' for 'Content'*/
        '. T1 T1 .'           /*'T1' for 'Test1'*/
        '. T2 T2 .'
        '. T3 T3 .'          
        '. T4 T4 .';        
    background-color: var(--white);
    width: 80%;
    margin: 0 auto;
}

section.main1 div.content-box h2 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    grid-area: T;
}

section.main1 div.content-box h3 {
    font-size: 1.8rem;
    text-align: left;
    padding: 10px;
    padding-bottom: 0;
    grid-area: S;
}

section.main1 div.content-box div.content-box-content {
    grid-area: C;
}

section.main1 div.content-box div.content-box-content p {
    padding: 10px;
    padding-bottom: 0;
    font-size: 1.6rem;
    font-weight: 700;   
}


section.main1 div.content-box div.content-box-content div.box {
    width: 200px;
}

section.main1 div.content-box div.content-box-content div.box ul {
    margin-left: 20px;
    font-size: 1rem;
}

section.main1 div.content-box button#test1, button#test2, button#test3, button#test4 {
    padding: 5px 10px;
    outline: none;
    border: 1px solid var(--grayscale);
    color: var(--grayscale);
    margin: 10px auto;
    width: 110px;
}

section.main1 div.content-box button#test1 {
    grid-area: T1;
}

section.main1 div.content-box button#test2 {
    grid-area: T2;
}

section.main1 div.content-box button#test3 {
    grid-area: T3;
}

section.main1 div.content-box button#test4 {
    grid-area: T4;
}

/*==============CONTENT BOX BOXES SECTION==============*/
section.main1 div.content-box div.content-box-content div#left, div#center, div#right {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

section.main1 div.content-box div.content-box-content div#left h3, div#center h3, div#right h3 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

section.main1 div.content-box div.content-box-content div#left p, div#center p, div#right p {
    font-size: .8rem;
    margin: 0;
    padding: 0;
} 


/*==============MAIN VIDEO SECTION==============*/
section.main-video {
    display: grid;
    grid-template-areas: 
        '. V V .';          /*'V' for 'Video'*/
    height: 516px;
}

section.main-video div.video-container {
    grid-area: V;
    border: 10px solid var(--jquery-background);
    border-radius: 5px;
    background-color: var(--jquery-background);
}

section.main-video div.video-container iframe {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

/*==============WRAPPER SECTION/*==============*/

div.wrapper {
    position: relative;
    min-height: 100vh;
}

div.content-wrapper {
    padding-top: 30px;
    padding-bottom: 4rem;
}